interactions:
- request:
    body: attribute%5B%5D=int%2CPATH_NUMBER%2C71&echo_collection_id%5B%5D=C1259976861-ASF&echo_collection_id%5B%5D=C2777443834-ASF&bounding_box=-118.3957%2C33.7284%2C-118.3459%2C33.772&temporal=2025-12-01T00%3A00%3A00Z%2C2025-12-06T00%3A00%3A00Z%2C&page_size=250&options%5Btemporal%5D%5Band%5D=true&sort_key%5B%5D=-end_date&sort_key%5B%5D=granule_ur&options%5Bplatform%5D%5Bignore_case%5D=true&provider=ASF
    headers:
      Client-Id:
      - asf_search_v11.0.2
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://cmr.earthdata.nasa.gov/search/granules.umm_json
  response:
    body:
      string: '{"hits":2,"took":190,"items":[{"meta":{"concept-type":"granule","concept-id":"G3899439645-ASF","revision-id":1,"native-id":"OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1","collection-concept-id":"C2777443834-ASF","provider-id":"ASF","format":"application/vnd.nasa.cmr.umm+json","revision-date":"2025-12-06T09:26:26.867Z"},"umm":{"TemporalExtent":{"RangeDateTime":{"BeginningDateTime":"2025-12-05T13:51:50Z","EndingDateTime":"2025-12-05T13:51:53Z"}},"OrbitCalculatedSpatialDomains":[{"OrbitNumber":5317}],"GranuleUR":"OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1","AdditionalAttributes":[{"Name":"ASCENDING_DESCENDING","Values":["DESCENDING"]},{"Name":"BEAM_MODE","Values":["IW"]},{"Name":"GROUP_ID","Values":["S1C_IWDV_0478_0485_005317_071"]},{"Name":"LOOK_DIRECTION","Values":["RIGHT"]},{"Name":"OPERA_BURST_ID","Values":["T071_151230_IW3"]},{"Name":"PATH_NUMBER","Values":["71"]},{"Name":"POLARIZATION","Values":["VV"]},{"Name":"PROCESSING_TYPE","Values":["CSLC"]},{"Name":"PRODUCT_VERSION","Values":["1.1"]},{"Name":"SUBSWATH_NAME","Values":["IW3"]}],"SpatialExtent":{"HorizontalSpatialDomain":{"Geometry":{"GPolygons":[{"Boundary":{"Points":[{"Latitude":33.82847,"Longitude":-118.30924},{"Latitude":33.94967,"Longitude":-119.16891},{"Latitude":33.78414,"Longitude":-119.20194},{"Latitude":33.66276,"Longitude":-118.34352},{"Latitude":33.82847,"Longitude":-118.30924}]}}]}}},"ProviderDates":[{"Type":"Insert","Date":"2025-12-06T09:26:24Z"},{"Type":"Update","Date":"2025-12-06T09:26:24Z"}],"CollectionReference":{"ShortName":"OPERA_L2_CSLC-S1_V1","Version":"1"},"PGEVersionClass":{"PGEName":"CSLC_S1_PGE","PGEVersion":"2.1.3"},"RelatedUrls":[{"URL":"https://cumulus.asf.earthdatacloud.nasa.gov/OPERA/OPERA_L2_CSLC-S1/OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1/OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1.h5","Type":"GET
        DATA","Description":"Download OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1.h5","Format":"HDF5"},{"URL":"s3://asf-cumulus-prod-opera-products/OPERA_L2_CSLC-S1/OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1/OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1.h5","Type":"GET
        DATA VIA DIRECT ACCESS","Description":"This link provides direct download
        access via S3 to OPERA_L2_CSLC-S1_T071-151230-IW3_20251205T135150Z_20251206T084103Z_S1C_VV_v1.1.h5","Format":"HDF5"},{"URL":"https://cumulus.asf.earthdatacloud.nasa.g[...]
